    
		<footer>
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-4">
		            	<div class="footer-title">
		            		Brennen Davis
		            	</div>
		            	<div>
		            		I am living in Orem, UT currently a Junior studying Computer Science at UVU
		            	</div>
		            </div>
		            <div class="col-sm-4">
		                <div class="footer-title">
		                    Me Online
		                </div>
		                <div class="footer-icons">
		                    <a href="https://www.facebook.com/brennen.davis.54" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/brennenrocks_/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/brennen-davis/" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                            <a href="https://github.com/BrennenRocks" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
		                </div>
		            </div>
		            <div class="col-sm-4">
		            	<div class="footer-title">
		            		Also Experience With
		            	</div>
		            	<div>
							<ul id="footer-list">
								<li>OOP Java and C#</li>
								<li>Unity 3D and Unreal Engine*</li>
								<li class="small">*Currently Learning</li>
							</ul>
		            	</div>
		            </div>
		        </div>
	        </div>
		</footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <script src="/scripts/landing.js"></script>
    </body>
</html>