    
		<footer>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4">
		            	<div class="footer-title">
		            		Brennen Davis
		            	</div>
		            	<div>
		            		I am from Orem, UT currently a Junior studying Computer Science at UVU
		            	</div>
		            </div>
		            <div class="col-md-4">
		                <div class="footer-title">
		                    Me Online
		                </div>
		                <div class="footer-icons">
		                    <a href="https://www.facebook.com/brennen.davis.54" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/brennenrocks_/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/brennen-davis/" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                            <a href="https://github.com/BrennenRocks" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
		                </div>
		            </div>
		            <div class="col-md-4">
		            	<div class="footer-title">
		            		Coming Soon
		            	</div>
		            	<div>
		            		<ul>
		            			<li>Blog showing what I'm learning and life outside of programming</li>
		            			<li>Web Games and High Scores associated with your profile</li>
		            		</ul>
		            	</div>
		            </div>
		        </div>
	        </div>
		</footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    </body>
</html>