<% include ./partials/header %>
    <div class="wrapper">
        <div id="section-header" class="section">
            <div class="container">
                <div id="header-title">
                    <h1>Brennen Programs</h1>
                    <h3>Fullstack Web Development</h3>
                    <div id="social-icons" class="row">
                      <div class="col-xs-3"><a href="https://www.facebook.com/brennen.davis.54" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
                      <div class="col-xs-3"><a href="https://www.instagram.com/brennenrocks_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                      <div class="col-xs-3"><a href="https://www.linkedin.com/in/brennen-davis/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
                      <div class="col-xs-3"><a href="https://github.com/BrennenRocks" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content">
          <div id="section-projects" class="section">
            <div class="container">
                <div class="row">
                    <div class="title">Web</div>
                    <hr class="web">
                </div>
                <div class="row text-center" style="display: flex; flex-wrap: wrap;">
                  <% projects.forEach(function(project){ %>
                      <div class="col-md-3 col-sm-6">
                          <div class="thumbnail">
                              <img src="<%= project.image %>">
                              <div class="caption">
                                  <h4><%= project.title %></h4>
                              </div>
                              <p>
                                  <a href="/projects/<%= project._id %>" class="btn btn-primary">More Info</a>
                              </p>
                          </div>
                      </div>
                  <% }); %>
              </div>
            </div>
          </div>
          <div id="section-stack" class="section">
            <div class="container">
              <div class="row">
                <div class="title">Experience With</div>
                <hr class="web">
              </div>
              <div id="stack-content" class="row text-center">
                <div class="col-sm-6">
                  <div class="sub-title">Front End</div>
                  <ul>
                    <li><i class="icon-html5-alt"></i> HTML5</li>
                    <li><i class="icon-css3-alt"></i> CSS3</li>
                    <li><i class="icon-javascript-alt"></i> JavaScript</li>
                    <li><i class="icon-jquery"></i> jQuery</li>
                    <li><i class="icon-bootstrap"></i> Bootstrap</li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <div class="sub-title">Back End</div>
                    <ul>
                      <li><i class="icon-mongodb"></i> MongoDB</li>
                      <li><i class="icon-npm"></i> ExpressJs</li>
                      <li><i class="icon-angular"></i> Angular2</li>
                      <li><i class="icon-nodejs"></i> Node.js</li>
                      <li><i class="icon-looking"></i> RESTful API</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section-contact" class="section section-contact">
            <div class="container">
              <div class="row">
                <div class="title">Contact Me</div>
                  <div id="contact-form">
                      <form action="/contact" method="POST">
                          <div class="form-group">
                              <label for="from">From</label>
                              <input class="form-control" type="text" name="from" id="from" placeholder="from" required>
                          </div>
                          <div class="form-group">
                              <label for="subject">Subject</label>
                              <input class="form-control" type="text" name="subject" id="subject" placeholder="subject" required>
                          </div>
                          <div class="form-group">
                              <label for="message">Message</label>
                              <textarea class="form-control" name="message" id="message" placeholder="Include how I may contact you as well" required></textarea>
                          </div>
                          <div class="form-group">
                              <button class="btn btn-lg btn-primary btn-block">Send</button>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<% include ./partials/footer %>