<% include ./partials/header %>
<div class="row">
    <h3 style="text-align: center">Soon these accounts will be used to store high scores for web games</h3>
    <h1 style="text-align: center">Sign Up</h1>
    <div id="register-form" style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" placeholder="confirm password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>